.customer-portal-side-menu #customer-portal-products {
	transition: all 0.3s;
	height: 0px;
}

.customer-portal-side-menu .btn {
	width: fit-content;
}

.customer-portal-side-menu .btn:focus {
	box-shadow: none;
}

.customer-portal-side-menu .btn-sm {
	font-size: 1rem;
}

.customer-portal-side-menu #customer-portal-arrow.down {
	transition-duration: 0.3s;
	transform: rotate(90deg);
}

.customer-portal-side-menu #customer-portal-arrow.left {
  transition-duration: 0.3s;
	transform: rotate(0deg);
}